<h2>発送していないオーダーリスト</h2>
<div class="row">
  <% @stores.each do |store| %>
  <div class="col-sm-6 col-md-4">
    <div style="height: 450px;">
      <div class="card">
        <%= image_tag(store.food.image , :class => "responsive-img", :height => "250") unless store.food.image.blank?%>
        <div class="caption container">
          <h4><%= truncate(store.food.title, length: 15) %></h4>
          <p><%= truncate(store.food.content, length: 60) %></p>
          購入者:<%= store.user.name %><br>
          購入日時:<%= store.created_at.to_s(:datetime_jp) %><br>
          メールアドレス:<%= store.user.email %><br>
          <p><%= link_to "発送完了", order_path(store.id), method: :delete, data: {confirm: "発送は完了しましたか？"} %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
