<h1>コック マイページ</h1>
<%= link_to "新規注文確認", orders_path,class: "btn btn-primary" %>
<p>掲載中の商品</p>
<div class="row">
  <% @foods.each do |food| %>
  <div class="col-sm-6 col-md-4">
    <div style="height: 450px;">
      <div class="card">
        <%= image_tag(food.image , :class => "responsive-img", :height => "250") unless food.image.blank?%>
        <div class="caption container">
          <h4><%= truncate(food.title, length: 15) %></h4>
          <p><%= truncate(food.content, length: 60) %></p>
          <p><%= link_to "編集", edit_food_path(food), class: "btn btn-primary" %> <%= link_to "削除", food, class: "btn btn-primary", method: :delete %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
