<!DOCTYPE html>
<html>
  <head>
    <title>Health & Muscle Delivery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="/foods">Health & Muscle delivery</a>
            </div>
              <% if cock_signed_in? and !(user_signed_in?) %>
                <%= link_to "コックログアウト", destroy_cock_session_path, method: :delete, class:"navber-link" %>
                <%= link_to "メニューの追加", new_food_path, class:"navber-link" %>
                <%= link_to "コックマイページ", cock_path(current_cock.id), class:"navber-link"  %>
              <% end %>

              <% if user_signed_in? and !(cock_signed_in?) %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"navber-link" %>
                <%= link_to "ユーザーマイページ", user_path(current_user.id), class:"navber-link"  %>
                <%= link_to "コックの方はこちら", "/toppage", class:"navber-link"  %>
              <% elsif !(user_signed_in?) and !(cock_signed_in?) %>
                <%= link_to "ユーザーログイン", new_user_session_path, class: "post navber-link" %>
                <%= link_to "ユーザー新規登録", new_user_registration_path, class: "post navber-link" %>
                <%= link_to "コックの方はこちら", "/toppage", class:"navber-link"  %>
              <% end %>
              <dl class="searchbox">
                <%= search_form_for @search, url: "/search" do |f| %>
                  <dt><%= f.text_field :title_cont ,placeholder: '検索するキーワードを入力' %></dt>
                  <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
                <% end %>
              </dl>
        </div>
      </nav>
      <% if flash[:notice] %>
        <div class="alert alert-success"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:error_message] %>
        <div class="alert alert-warning">
          <ul>
            <% flash[:error_message].each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
