<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="/foods">Health & Muscle delivery</a>
            </div>
              <% if cock_signed_in? %>
                <%= link_to "ログアウト", destroy_cock_session_path, method: :delete %>
                <%= link_to "メニューの追加", new_food_path  %>
                <%= link_to "マイページ", cock_path(current_cock.id)  %>
              <% end %>

              <% if user_signed_in? %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                <%= link_to "マイページ", user_path(current_user.id)  %>
              <% else %>
                <%= link_to "ログイン", new_user_session_path, class: "post" %>
                <%= link_to "新規登録", new_user_registration_path, class: "post" %>
              <% end %>
              <dl class="searchbox">
                <%= search_form_for @search, url: "/search" do |f| %>
                  <dt><%= f.text_field :title_cont ,placeholder: '検索するキーワードを入力' %></dt>
                  <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
                <% end %>
              </dl>
        </div>
      </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
